@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
}


header{
    background-color: rgb(0, 255, 255);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header input{
    width: 50%;
    height: 30px;
    border-radius: 10px;
    border-color: white;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}

.logo{
    width: 150px;
}


.search{
    display: flex;

    flex-basis: 50%;
}


.SearchBar{
    flex-basis: 80%;
    padding-left: 32px;

    background-size: 30px;
    background-repeat: no-repeat;
    background-image: url(https://cdn-icons-png.flaticon.com/512/109/109164.png);
}

.SearchBtn{
    flex-basis: 20%;
    background-color: #007bff;
    color: #FFF;
    height: 35px;
    border: none;
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 8px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0%;
    transition-duration: .2s;
}

button:hover{
    background-color: rgb(21, 21, 206);
}

.header-menu{
    display: flex;
    margin-right: 20px;
    gap: 10px;
}

.header-logo{
    width: 40px;
    height: 40px;
    color: black;
}

.header-logo:hover{
    color: rgb(0, 68, 255);
    transition: 0.5s;
}

.header-logo:active{
    background-color: #898989;
}





footer{
    display: flex;
    background-color: rgb(0, 0, 60);
    height: 200px;
    
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
}

.footer-menu{
    width: 30%;

    display: flex;
    justify-content: space-between;
}

.menu-item{
    text-decoration: none;
    color: white;

}

.footer-img{
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.logo-img{
    width: 30px;
}

.footer-logo{
    height: 60px;
    width: 60px;
}

footer>.second-bar{
    height: 60px;
    width: 100%;
    color: white;
    background-color:rgb(1, 1, 32);
    display: flex;
    justify-content: center;
    position: relative;
    top: 20px;
}
